@import url("https://fonts.googleapis.com/css?family=Roboto");
.container,
.row, .container-small {
  *zoom: 1;
}
.container:before,
.row:before, .container-small:before, .container:after,
.row:after, .container-small:after {
  content: " ";
  display: table;
}
.container:after,
.row:after, .container-small:after {
  clear: both;
}

/* basic style */
body {
  font: 90% "Roboto", sans-serif;
  color: #333333;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #3ac5a9;
}

h2 {
  color: #3ac5a9;
}

ul,
menu,
dir {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* form style */
.form-group input {
  border-radius: 5px;
  border: 1px solid #d7d7d7;
  padding: 0.5375rem;
  margin-bottom: 1.5rem;
}
.form-group input :focus {
  border-color: #3ac5a9;
}
.form-group label {
  display: inherit;
  font-weight: 600;
  padding-bottom: 0.75rem;
}

.btn {
  font-size: 0.875rem !important;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primary {
  background: #3ac5a9;
  color: #fff;
}

/* header */
header {
  padding: 1.75rem 0 1.75rem 0;
}
header .logo {
  font-size: 1.1875rem;
  font-weight: 600;
}
header .logo i {
  background: #3ac5a9;
  padding: 0.625rem;
  border-radius: 5px;
  color: #fff;
  margin-right: 0.625rem;
}

/* navigation */
nav {
  background: #f9f9f9;
  height: 2.4375rem;
}
nav .breadcrumb {
  display: flex;
}

section .title h1 {
  position: relative;
  font-size: 2.125rem;
  font-weight: 300;
}
section .title h1 span {
  background-color: white;
  padding-right: 4.375rem;
}
section .title h1:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.5em;
  border-top: 3px solid #f1f1f1;
  z-index: -1;
}

/* banner */
.banner-header {
  background: #baebe1;
  padding: 2.625rem 0 2.625rem 0;
  display: flex;
  border-top: 2px solid #b6e6dd;
}
.banner-header .item {
  display: inline-flex;
  color: #6b777b;
  font-size: 0.8125rem;
}
.banner-header .item i {
  color: #3ac5a9;
  font-size: 2.5rem;
  font-weight: 600;
  padding: 0 1.375rem 0 0;
}
.banner-header .item span {
  display: block;
  font-weight: 600;
  color: #333333;
  font-size: 1.4rem;
}

.line {
  background: #f9f9f9;
  height: 0.1875rem;
  padding: 0 !important;
}

.divider {
  background: #e7e7e7;
  height: 2px;
  width: 80%;
  margin: 0 auto;
  display: block;
  clear: both;
}

.table-users {
  padding: 0.85rem 0 2.5625rem 0;
}

.users {
  width: 100%;
  border-collapse: collapse;
  /* Zebra striping */
}
.users tr:nth-of-type(odd) {
  background: #f9f9f9;
}
.users td:first-child,
.users th:first-child {
  padding: 0 0 0 1.25rem;
}
.users tr:hover {
  background: #e3e3e3;
}
.users th {
  background: #fff;
  color: #333333;
  font-weight: 600;
}
.users td,
.users th {
  padding: 1.25rem 0 1.25rem 0;
  text-align: left;
}

.container-small {
  padding-top: 2.75rem;
  width: 80%;
}

.help-message {
  float: left;
  margin-bottom: 2.75rem;
}
.help-message .inner {
  display: flex;
  padding-right: 2.375rem;
}
.help-message h2 {
  font-size: 1.375rem;
  font-weight: 400;
}
.help-message i {
  color: #3ac5a9;
  font-size: 4.375rem;
  margin-right: 1.125rem;
}

/* mobile size */
@media only screen and (max-width: 36em) {
  .banner-header .item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/* responsive */
.row {
  width: 100%;
  height: auto;
  float: left;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container, .container-small {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.container,
.row, .container-small {
  box-sizing: border-box;
}

/* mobile size */
@media only screen and (max-width: 36em) {
  .container {
    width: 540px;
    max-width: 100%;
  }

  .col-xs-1 {
    width: 8.3333333333%;
  }

  .col-xs-2 {
    width: 16.6666666667%;
  }

  .col-xs-3 {
    width: 25%;
  }

  .col-xs-4 {
    width: 33.3333333333%;
  }

  .col-xs-5 {
    width: 41.6666666667%;
  }

  .col-xs-6 {
    width: 50%;
  }

  .col-xs-7 {
    width: 58.3333333333%;
  }

  .col-xs-8 {
    width: 66.6666666667%;
  }

  .col-xs-9 {
    width: 75%;
  }

  .col-xs-10 {
    width: 83.3333333333%;
  }

  .col-xs-11 {
    width: 91.6666666667%;
  }

  .col-xs-12 {
    width: 100%;
  }
}
/* tablet size */
@media only screen and (min-width: 48em) {
  .container {
    width: 720px;
    max-width: 100%;
  }

  .col-sm-1 {
    width: 8.3333333333%;
  }

  .col-sm-2 {
    width: 16.6666666667%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.3333333333%;
  }

  .col-sm-5 {
    width: 41.6666666667%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.3333333333%;
  }

  .col-sm-8 {
    width: 66.6666666667%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.3333333333%;
  }

  .col-sm-11 {
    width: 91.6666666667%;
  }

  .col-sm-12 {
    width: 100%;
  }
}
/* desktop medium size */
@media only screen and (min-width: 62.5em) {
  .container {
    width: 960px;
    max-width: 100%;
  }

  .col-md-1 {
    width: 8.3333333333%;
  }

  .col-md-2 {
    width: 16.6666666667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.3333333333%;
  }

  .col-md-5 {
    width: 41.6666666667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.3333333333%;
  }

  .col-md-8 {
    width: 66.6666666667%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.3333333333%;
  }

  .col-md-11 {
    width: 91.6666666667%;
  }

  .col-md-12 {
    width: 100%;
  }
}
/* desktop large size */
@media only screen and (min-width: 75em) {
  .container {
    width: 1250px;
    max-width: 100%;
  }

  .col-lg-1 {
    width: 8.3333333333%;
  }

  .col-lg-2 {
    width: 16.6666666667%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.3333333333%;
  }

  .col-lg-5 {
    width: 41.6666666667%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.3333333333%;
  }

  .col-lg-8 {
    width: 66.6666666667%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.3333333333%;
  }

  .col-lg-11 {
    width: 91.6666666667%;
  }

  .col-lg-12 {
    width: 100%;
  }
}
/* desktop extra size */
@media only screen and (min-width: 90em) {
  .container {
    width: 1140px;
    max-width: 100%;
  }

  .col-ls-1 {
    width: 8.3333333333%;
  }

  .col-ls-2 {
    width: 16.6666666667%;
  }

  .col-ls-3 {
    width: 25%;
  }

  .col-ls-4 {
    width: 33.3333333333%;
  }

  .col-ls-5 {
    width: 41.6666666667%;
  }

  .col-ls-6 {
    width: 50%;
  }

  .col-ls-7 {
    width: 58.3333333333%;
  }

  .col-ls-8 {
    width: 66.6666666667%;
  }

  .col-ls-9 {
    width: 75%;
  }

  .col-ls-10 {
    width: 83.3333333333%;
  }

  .col-ls-11 {
    width: 91.6666666667%;
  }

  .col-ls-12 {
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
